/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Untitled **/
#ast-mobile-header .ast-menu2-svg, 
.astra-menu-animation-fade > li:nth-of-type(3) > a {
	padding-bottom: 35px !important;
	margin-bottom: -44px !important;
	margin-left: -40px !important;
}
#cont_8533b8fe5434078f1a07240e92bb59aa iframe {
	padding-bottom: 35px !important;
	margin-bottom: -44px !important;
	margin-left: -40px !important;
}
.wp-block-button__link:hover {
	background-color: #9E2121 !important;
}
.wp-block-uagb-info-box {
	margin-bottom: -40px !important;
}
.search-field {
	background-color: red !important;
	background-color: #C0C0C0 !important;
	border-color: #b50422 !important;
	height: 10% !important;
}
.search-form {
	background-color: #C0C0C0 !important;
	border-color: #b50422 !important;
}
.ast-above-header-bar {
	background-color: #C0C0C0 !important;
}


/*( < 768 )*/
@media (max-width: 767.98px) {
	/** Geral >> Untitled **/
	#ast-mobile-header .ast-menu2-svg, 
.astra-menu-animation-fade > li:nth-of-type(3) > a {
	
}
.menu-toggle {
	margin-right: 10px !important;
}

}

