/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Latest posts featured image **/
.wp-elements-de86e2df1b2002ce15a2cb7a64d0e58f .wp-block-latest-posts__featured-image {
	padding-bottom: 35px !important;
	margin-bottom: -44px !important;
	margin-left: -40px !important;
}
#cont_8533b8fe5434078f1a07240e92bb59aa iframe {
	padding-bottom: 35px !important;
	margin-bottom: -44px !important;
	margin-left: -40px !important;
}
.wp-block-button__link:hover {
	background-color: #9E2121 !important;
}
.wp-block-uagb-info-box {
	margin-bottom: -40px !important;
}
.search-field {
	background-color: red !important;
	background-color: #C0C0C0 !important;
	border-color: #b50422 !important;
	height: 10% !important;
}
.search-form {
	background-color: #C0C0C0 !important;
	border-color: #b50422 !important;
}
.ast-above-header-bar {
	background-color: #C0C0C0 !important;
}
.uagb-post__image {
	height: 130% !important;
}
.uagb-post__title {
	margin-top: 35% !important;
}
.wp-block-button__link {
	margin-bottom: ;
}
.cultura h4 {
	margin-top: 0px !important;
}
.cultura {
	margin-left: -9% !important;
}
.agenda {
	margin-top: -102% !important;
}
body::-webkit-scrollbar-thumb {
	border-radius: 10px !important;
	background-color: #D62929 !important;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%, 											  transparent, 											  transparent) !important;
}
.banner_evento {
	margin-right: -3% !important;
}
.container_noticia:hover {
	/* Define o efeito de zoom quando o mouse passa sobre a div */
	transform: scale(1.1) !important;
	-webkit-transition: transform 0.3s ease !important;
	transition: transform 0.3s ease !important;
}
.post_list img {
	width: 230px !important;
	height: 210px !important;
}
.wp-block-latest-posts__featured-image {
	margin-left: 0px !important;
}
.ast-builder-grid-row-container {
	background-color: red !important;
}

/** Geral >> .ast-builder-grid-row-container **/
.site-below-footer-wrap {
	background-color: rgb(192, 192, 192) !important;
}
.ast-above-header-bar.ast-above-header.site-header-focus-item {
	background-image: url("https://localhost/jabuka/wordpress/wp-content/uploads/2023/07/background_navbar.png") !important;
	margin-right: -9% !important;
}
.ast-primary-header-bar.ast-primary-header.main-header-bar.site-header-focus-item {
	background-image: url("https://localhost/jabuka/wordpress/wp-content/uploads/2023/07/background_navbar.png") !important;
	margin-right: -9% !important;
}
#ast-hf-menu-1 {
	margin-left: -12% !important;
}
.tiempo-widget {
	border-color: #013950 !important;
	height: 260px !important;
}
.site-above-header-wrap {
	background-image: url("https://localhost/jabuka/wordpress/wp-content/uploads/2023/07/background_navbar.png") !important;
}
.site-primary-header-wrap {
	background-image: url("https://localhost/jabuka/wordpress/wp-content/uploads/2023/07/background_navbar.png") !important;
}
.menu-link {
	-webkit-transition: transform 0.3s ease !important;
	transition: transform 0.3s ease !important;
}
.menu-link:hover {
	transform: scale(1.2) !important;
}
.text-top {
	width: 60% !important;
}
.main_wrap.super-small {
	position: relative !important;
	margin-left: 1% !important;
}
.main_wrap.super-small:hover {
	transform: translateY(10px) !important;
	-webkit-transition: transform 0.3s ease !important;
	transition: transform 0.3s ease !important;
}
.site-branding.ast-site-identity {
	transform: scale(1.2) !important;
	-webkit-transition: transform 0.3s ease !important;
	transition: transform 0.3s ease !important;
}
.site-branding.ast-site-identity:hover {
	transform: scale(1.4) !important;
}
.ast-builder-social-element {
	-webkit-transition: transform 0.3s ease !important;
	transition: transform 0.3s ease !important;
}
.ast-builder-social-element:hover {
	transform: scale(1.2) !important;
}
.search-form {
	background-color: white !important;
}
.search-field {
	background-color: white !important;
}
.ast-custom-button:hover {
	transform: scale(1.2) !important;
	color: #b50422 !important;
	-webkit-transition: transform 0.3s ease !important;
	transition: transform 0.3s ease !important;
}
.wp-image-800, 
.wp-image-798, 
.wp-image-797 {
	border: 5px solid black !important;
	border-radius: 50% 50% 50% 0% !important;
	width: 150px !important;
	height: 150px !important;
	margin-left: 38% !important;
}
.wp-image-800:hover, 
.wp-image-798:hover, 
.wp-image-797:hover {
	border-color: #b50422 !important;
}
.img-time {
	width: 80% !important;
}
.grade .uagb-post__image {
	height: 25% !important;
}
.grade .uagb-post__inner-wrap {
	height: 95% !important;
}
p {
	text-align: justify !important;
}
.joinchat__button {
	transform: scale(0.75) !important;
}
.custom-logo {
	margin-left: -5% !important;
}
.p {
	margin-left: ;
}
.wpforms-submit {
	background-color: #b50422 !important;
}


/*( < 980 )*/
@media (max-width: 979.98px) {
	/** Geral >> .ast-builder-grid-row-container **/
	.site-below-footer-wrap {
	
}
.img-time {
	width: 110% !important;
}

}


/*( < 768 )*/
@media (max-width: 767.98px) {
	/** Geral >> .ast-builder-grid-row-container **/
	.site-below-footer-wrap {
	
}
.main_carrousel {
	margin-top: 5% !important;
}
.wp-image-800, 
.wp-image-798, 
.wp-image-797 {
	border: 5px solid black !important;
	border-radius: 50% 50% 50% 0% !important;
	width: 150px !important;
	height: 150px !important;
	margin-left: 40% !important;
}

}


/*( < 480 )*/
@media (max-width: 479.98px) {
	/** Geral >> Latest posts featured image **/
	.wp-elements-de86e2df1b2002ce15a2cb7a64d0e58f .wp-block-latest-posts__featured-image {
	
}
.banner_evento {
	padding-right: 10% !important;
	padding-left: 20% !important;
}

	/** Geral >> .ast-builder-grid-row-container **/
	.site-below-footer-wrap {
	
}
.banner_cultura {
	width: 80% !important;
}
.title_cultura {
	width: 80% !important;
	margin-left: 30% !important;
}
.wp-block-latest-posts__featured-image {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-justify-content: center !important;
	justify-content: center !important;
	-webkit-align-items: center !important;
	align-items: center !important;
}

}


/*( < 320 )*/
@media (max-width: 319.98px) {
	/** Geral >> .ast-builder-grid-row-container **/
	.site-below-footer-wrap {
	
}
.title_cultura {
	width: 110% !important;
	margin-top: 90% !important;
}

}

