/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Uagb block 6269c632 **/
#post-12 .uagb-block-6269c632 {
	padding-bottom: 35px !important;
	margin-bottom: -44px !important;
	margin-left: -40px !important;
}
#cont_8533b8fe5434078f1a07240e92bb59aa iframe {
	padding-bottom: 35px !important;
	margin-bottom: -44px !important;
	margin-left: -40px !important;
}
.wp-block-button__link:hover {
	background-color: #9E2121 !important;
}
.wp-block-uagb-info-box {
	margin-bottom: -40px !important;
}
.search-field {
	background-color: red !important;
	background-color: #C0C0C0 !important;
	border-color: #b50422 !important;
	height: 10% !important;
}
.search-form {
	background-color: #C0C0C0 !important;
	border-color: #b50422 !important;
}
.ast-above-header-bar {
	background-color: #C0C0C0 !important;
}
.uagb-post__image {
	height: 130% !important;
}
.uagb-post__title {
	margin-top: 35% !important;
}
.wp-block-button__link {
	margin-bottom: ;
}
.cultura h4 {
	margin-top: 0px !important;
}
.cultura {
	margin-left: -9% !important;
}


/*( < 768 )*/
@media (max-width: 767.98px) {
	/** Geral >> Uagb block 6269c632 **/
	#post-12 .uagb-block-6269c632 {
	
}
.cultura {
	margin-left: 9% !important;
}
.title_cultura {
	margin-left: 40% !important;
	margin-bottom: 0.5% !important;
	width: 70% !important;
}
.title_all {
	margin-bottom: 0.5% !important;
}

}

