
/*= Home ====================== */

/** Home >> Cont ab128301c62e4321970946a5bbd66664 **/
#ab128301c62e4321970946a5bbd66664 {
	margin-left: 100999px !important;
}

/** Home >> Cont 314c2d0e7015a8115a10f8bb8d917c50 **/
#cont_314c2d0e7015a8115a10f8bb8d917c50 {
	border-color: #C0C0C0 !important;
}

/** Home >> Ast builder grid row container **/
#ast-desktop-header .ast-builder-grid-row-container {
	background-color: rgb(255, 255, 255) !important;
	background-image: url("https://localhost/jabuka/wordpress/wp-content/uploads/2023/07/background_navbar.png") !important;
	background-image: ;
}
.site-header {
	background-image: url("https://localhost/jabuka/wordpress/wp-content/uploads/2023/07/background_navbar.png") !important;
}

/** Home >> Link **/
.ast-menu-shadow > li:nth-of-type(3) > a {
	transform: scale(1.4, 1.4) !important;
	-webkit-transition: transform 0.3s !important;
	transition: transform 0.3s !important;
}
.ast-menu-shadow > li:nth-of-type(1) > a {
	-webkit-transition: transform 0.3s !important;
	transition: transform 0.3s !important;
}
.ast-menu-shadow > li:nth-of-type(1) > a:hover {
	transform: scale(1.2) !important;
}
.ast-menu-shadow > li:nth-of-type(2) > a {
	-webkit-transition: transform 0.3s !important;
	transition: transform 0.3s !important;
}
.ast-menu-shadow > li:nth-of-type(2) > a:hover {
	transform: scale(1.2) !important;
}
.ast-menu-shadow > li:nth-of-type(4) > a {
	-webkit-transition: transform 0.3s !important;
	transition: transform 0.3s !important;
}
.ast-menu-shadow > li:nth-of-type(4) > a:hover {
	transform: scale(1.2) !important;
}
.ast-menu-shadow > li:nth-of-type(5) > a {
	-webkit-transition: transform 0.3s !important;
	transition: transform 0.3s !important;
}
.ast-menu-shadow > li:nth-of-type(5) > a:hover {
	transform: scale(1.2) !important;
}


/*( < 1200 )*/
@media (max-width: 1199.98px) {
	/** Home >> Ast builder grid row container **/
	#ast-desktop-header .ast-builder-grid-row-container {
	background-color: rgb(2, 116, 190) !important;
	background-image: url("https://localhost/jabuka/wordpress/wp-content/uploads/2023/07/background_navbar.png") !important;
	background-repeat: no-repeat !important;
	background-size: 100% auto !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
}
.ast-primary-header-bar.ast-primary-header.main-header-bar.site-header-focus-item {
	background-color: red !important;
}
;
}
.ast-builder-grid-row-container {
	background-color: #C0C0C0 !important;
}

}


/*( < 480 )*/
@media (max-width: 479.98px) {
	/** Home >> Ast builder grid row container **/
	#ast-desktop-header .ast-builder-grid-row-container {
	background-color: #C0C0C0 !important;
}

}

